/*-----------------------------------------------------------*/
/* Fichier style CSS pour les feuilles sur la page d'accueil */
/*-----------------------------------------------------------*/

.class_table {
	background-image: url("../Images/fond_bois2_moyen.jpg");
	padding-top: 0px;
	padding-bottom: 80px;
	margin-left: -40px;
	margin-right: -40px;
	border: 1px solid rgb(93, 44, 30);
	display: flex;
	justify-content: center;
}

.class_tas_feuilles {
	display: flex;
	flex-direction: row;
	margin-left: 0px;
	margin-top: 100px;
}

.class_feuille1, .class_feuille2, .class_feuille3, .class_feuille4, .class_feuille5 {
	
	border: 5px solid rgb(234, 234, 234);
	width: 207px;
	height: 357px;
	padding-left: 30px;
	border-radius: 5px;
	box-shadow: 7px 7px 7px rgb(50, 50, 50);
	color: rgb(21, 67, 96);
}

.class_feuille1 {
	background-image: url("../Images/cahier.jpg");
	transform: skewX(10deg) skewY(-10deg);
	margin-left: 0px;
	margin-top: 55px;
}

.class_feuille2 {
	background-image: url("../Images/cahier.jpg");
	transform: skewX(5deg) skewY(-5deg);
	margin-left: -100px;
	margin-top: -20px;
}

.class_feuille3 {
	background-image: url("../Images/cahier.jpg");
	transform: skewX(-2deg) skewY(2deg);
	margin-left: -75px;
	margin-top: 25px;
}

.class_feuille4 {
	background-image: url("../Images/cahier.jpg");
	transform: skewX(-15deg) skewY(15deg);
	margin-left: -135px;
	margin-top: 115px;

}

.class_feuille5 {
	background-image: url("../Images/CV_mini.jpg");
	transform: skewX(1deg) skewY(-1deg);
	margin-left: 100px;
	margin-top: -20px;
}

.class_feuille1:hover, .class_feuille2:hover, .class_feuille3:hover, .class_feuille4:hover, .class_feuille5:hover { 	
	border: 5px solid red;
	color: red;
	
}

.class_tas_feuilles a {
	text-decoration: none;
}
