/*--------------------------*/
/* Fichier style CSS global */
/*--------------------------*/

body {
	font-family: "Arial", sans-serif;
	font-size: 1.2em;
	background-color: rgb(235, 245, 251);
	margin: 30px;
}

footer p {
	border-top: 1px solid rgb(50, 150, 220);
	font-size: 0.5em;
	padding-top: 0.5em;
}