/*----------------------------------*/
/* Fichier style CSS pour les pages */
/*----------------------------------*/

body {
	/* font-family: "Arial", sans-serif; */
	/* font-size: 1.2em; */
	/* background-color: rgb(235, 245, 251); */
	/* margin: 30px; */
	margin-left: 15%;
	margin-right: 15%;
}

a {
	text-decoration: none;
}

a:hover {
	color: red;
}

/*---------------------------------------------------*/

.class_titre_page {
	border-bottom: 1px solid rgb(50, 150, 220);
}

.class_zone_page {
	/* background-color: rgb( 133, 193, 233 ); */
	/* background-color: rgb( 143, 203, 243 ); */
	border-left: 3px solid rgb(50, 150, 220);
	border-radius: 20px;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.class_division_zone_row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* align-items: center; */
}

.class_division_zone_column {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 700px;
}

.class_sous_division {
	width: 50%;
}